:global(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

header {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20% 10px 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

ul {
  display: flex;
  gap: 80%;
  font-size: 1.2rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
}